Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [1]:
cost_of_flying_plane = 5000
number_of_passengers = 29
price_of_ticket = 200
returning_passengers = 12
profit = (number_of_passengers * price_of_ticket) - cost_of_flying_plane
print('The company makes of a profit of dollars',profit)

The company makes of a profit of dollars 800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
#use if-else statements and print out the required information:
num= 12
#complete this area

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [4]:
string='ANTIESTABLISHMENTARIANISTICALLY'
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:",vowels)

Number of vowels are: 12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 
fruits= ["apple","pear","banana"]

#iterate over the list and find the name of the fruit which has the smallest word length


# append a vegetable to your existing list

# find the size of your list

# add enough fruits such that your list size if greater that 4

# delete the 2nd fruit(1st index) from your list:

# add your name in the 4th position of the list (3rd index)

#have fun and try out any 4-5 pre-defined fucntions on a list as seen in the python list documentation

In [17]:
#iterate over the list and find the name of the fruit which has the smallest word length
fr= ["apple","pear","banana"]
fruits= "apple pear banana"
wor = "";  
wors = [];  
fruits = fruits + " ";  
for i in range(0, len(fruits)):  
    if(fruits[i] != ' '):  
        wor = wor + fruits[i];  
    else:  
         wors.append(wor);  
         wor = "";  
          
small = large = wors[0];  
  
for k in range(0, len(wors)):  
      
   
    if(len(small) > len(wors[k])):  
        small = wors[k];  
          
   
    if(len(large) < len(wors[k])):  
        large = wors[k];  
   
print("Smallest word: " + small);

Smallest word: pear

In [19]:
## append a vegetable to your existing list
fr= ["apple","pear","banana"]
fr.append('carrots')
print(fr)

['apple', 'pear', 'banana', 'carrots']

In [20]:
# find the size of your list
i=len(fr)
print(i)

4

In [22]:
#add enough fruits such that your list size if greater that 4
fr.append('BANANA')
fr.append('PROMOGRANTE')
fr.append('WATERMELON')
print(fr)
print(len(fr))

['apple', 'pear', 'banana', 'carrots', 'BANANA', 'PROMOGRANTE', 'WATERMELON']
7

In [24]:
#delete the 2nd fruit(1st index) from your list
del fr[3]
print(fr)

['apple', 'pear', 'banana', 'BANANA', 'PROMOGRANTE', 'WATERMELON']

In [25]:
#add your name in the 4th position of the list (3rd index)
fr.insert(3, "Shreya")
print(fr)

['apple', 'pear', 'banana', 'Shreya', 'BANANA', 'PROMOGRANTE', 'WATERMELON']

TUPLES AND ITS FUNCTIONALITY:

In [ ]:
#create abd tuple and print its elements 

#print the type of each value in the tuple

#try to change the seconf value in your tuple to "Caterpillar"

# print the last element of the tuple without using the length of the tuple

# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...

#sort vs sorted function: find the difference in the form of a program:

In [26]:
#create abd tuple and print its elements 
tup=('a','b','c')

In [27]:
#print the type of each value in the tuple
for i in tup:
  print(i)

a
b
c

In [30]:
#try to change the seconf value in your tuple to "Caterpillar"
lst = list(tup)
lst[1] = 'Caterpillar'
t = tuple(lst)
print(t)

('a', 'Caterpillar', 'c')

In [34]:
#print the last element of the tuple without using the length of the tuple
print(t[-1])

c

In [35]:
# print(a[-2:]), print([:3])
print(t[-2:])
print(t[:3])

('Caterpillar', 'c')
('a', 'Caterpillar', 'c')

In [43]:
 L = [1, 2, 3, 4, 5,]
  
print("Sorted list:",sorted(L))
L.sort()
print(L)
new = ["my", "first", "homeworks",'qw'] 
new.sort() 
print(new) 
print("Sorted list:",sorted(new))

Sorted list: [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['first', 'homeworks', 'my', 'qw']
Sorted list: ['first', 'homeworks', 'my', 'qw']

SETS AND ITS FUNCTIONALITY:

In [ ]:
#explore the properties of set and after doing that solve this little puzzle below:

In [11]:
s=" rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"

l=s.split()

for i in l:
    print(i)
q=list(l)
print(l)

rofl
lol
macha
bob
ootd
asap
fun
sweet16
ffs
lol
asap
ootd
ffs
macha
rofl
bob
ootd
fun
candid
anime
happyhours
bob
fun
happyhours
['rofl', 'lol', 'macha', 'bob', 'ootd', 'asap', 'fun', 'sweet16', 'ffs', 'lol', 'asap', 'ootd', 'ffs', 'macha', 'rofl', 'bob', 'ootd', 'fun', 'candid', 'anime', 'happyhours', 'bob', 'fun', 'happyhours']

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [ ]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [6]:
def CountFreq(li):
  freq = {}
  for items in li:
    freq[items] = li.count(items) #dictionary created
  print(freq)
li =[]
CountFreq(li)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [45]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
    freq = {}
    for item in my_list:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
 
    for key, value in freq.items():
        print ("% d : % d"%(key, value))
    
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

 1 :  5
 5 :  2
 3 :  3
 4 :  3
 2 :  4

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !